.form-switch.form-switch-md .form-check-input {
    height: 1.5rem;
    width: calc(2rem + 0.75rem);
    border-radius: 3rem;
}

.card-container {
    display: flex;
    flex-direction: column;
    /* Mostrar las tarjetas en una columna */
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
}

.card {
    width: 100%;
    /* Ocupa todo el ancho disponible */
    margin: 10px 0;
    /* Margen entre las tarjetas */
    padding: 10px;
    /* Espacio interno en cada tarjeta */
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
}

.form-check {
    margin: 10px 0;
}

/* Opcional: Estilos para los checkboxes */
.form-check-input {
    /* Estilos personalizados para el checkbox si es necesario */
}