<footer class="footer">
    <div *ngIf="botones" class="row text-center">
            <div class="col">
                <button type="button" class="btn btn-light border" [routerLink]='botones.ruta1?.link' [hidden]="(botones.ruta1? false : true)">Retroceder</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary" [routerLink]='botones.ruta2?.link' [hidden]="(botones.ruta2? false : true)">Siguiente</button>
            </div>
    </div>
</footer>