<footer>
    <div *ngIf="botonDerecho || botonIzquierdo" class="row text-center">
            <div class="col">
                <button id="primerBoton" type="button" class="btn btn-light border"[hidden]="!botonIzquierdo?.ruta" [routerLink]='botonIzquierdo?.ruta' >{{botonIzquierdo?.titulo}}</button>
            </div>
            <div class="col">
                <button id="segundoBoton" type="button" class="btn btn-primary" [hidden]="!botonDerecho?.ruta" [routerLink]='botonDerecho?.ruta' >{{botonDerecho?.titulo}}</button>
            </div>
    </div>
</footer>