.carousel-item { 
    height: 200px;
    z-index: 0;
}

.carousel-item.active {
    z-index: 0;
}

.carousel-fade .carousel-item.active, .carousel-fade .carousel-item-next.carousel-item-start, .carousel-fade .carousel-item-prev.carousel-item-end {
    z-index: 0;
    opacity: 1;
}