<div class="test-container">
    <div class="text-center">
        <h2>{{this.messages[this.currentMessageIndex]}}</h2>
    </div>
    <div class="progress">
        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar"
            style="width:{{this.progressValue}}%;" aria-valuenow="50%" aria-valuemin="0" aria-valuemax="100"
            aria-label="20px"> </div>
    </div>
    <div class="pt-4 position-absolute top-50 start-50 translate-middle" [hidden]="!mostrarBoton">
        <button type="button" class="btn btn-warning" (click)="initLoading()" [disabled]="!mostrarBoton">
            Intentar nuevamente</button>
    </div>
</div>

<app-modal-texto 
    *ngIf="hayMensaje" 
    [data]="attrMensaje" 
    (closeModal)="setSelectedMessage(false, displayStyle)"
    [displayStyle]="displayStyle"
>
</app-modal-texto>