<!-- modal.component.html -->
<div class="modal" tabindex="-1">
    <div class="modal-dialog" style="margin: 30px;">
        <div id="contenidoModal" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ data.titulo }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="onCloseModal()" [hidden]="mostrarFooter"></button>
            </div>
            <div class="modal-body">
                <p>{{ data.parrafo }}</p>
            </div>
            <div class="modal-footer" [hidden]="!mostrarFooter">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                routerLink='/aplicacion'>Continuar</button>
        </div>
    </div>
</div>