<div class="text-center">
    <div id="carrusel" class="carousel slide">
        
        <div class="carousel-inner p-4">
            <div class="carousel-item active">
                <div class="card" style="margin: 25px;">
                    <div class="card-body">
                        <p class="card-text">
                            Bienvenido a 
                            <br><b>Home Automation Wizard</b>.
                            Comencemos con la configuración inicial
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card" style="margin: 25px;">
                    <div class="card-body">
                        <p class="card-text">
                            En primer lugar, necesitas testear la conexión al broker MQTT.
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card" style="margin: 25px;">
                    <div class="card-body">
                        <p class="card-text">
                            Pero...¿Qué es MQTT? 🤔
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card" style="margin: 25px;">
                    <div class="card-body">
                        <p class="card-text">
                            En este caso, el broker es el servidor que facilita la comunicación entre los dispositivos que lo utilizan.
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card" style="margin: 25px;">
                    <div class="card-body">
                        <p class="card-text">
                            Para esto, es importante tener claro el funcionamiento básico de este protocolo 🤓☝🏾
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carrusel"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon text-bg-info rounded-pill" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carrusel"
            data-bs-slide="next">
            <span class="carousel-control-next-icon text-bg-info rounded-pill" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        <div class="carousel-indicators text-bg-info rounded">
            <button type="button" data-bs-target="#carrusel" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carrusel" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carrusel" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carrusel" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carrusel" data-bs-slide-to="4"
                aria-label="Slide 5"></button>
        </div>

        
    </div>
    
</div>