.contenedor {
    margin: 10px;
    z-index: 0;
    height: 100%;
}

.list-group-item {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-check-label {
    font-size: small;
}

.card-body {
}

.btn {
    min-width: 100px;
    margin: 5px;
}

.resultados {
    border-style: hidden;
}

.card-footer {
    padding: 0!important;
}

.pagination {
    list-style: none;
    text-align: center;
    margin: 2px!important;
}

.pagination a,
.pagination li {
    background-color: transparent;
}

.pagination .page-link.active {
    background: #0dcaf0;
    color: #000000;
}

.pagination .page-fin {
}

.scrollBox {
    height: 250px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.page-item-respondida {
}
  
.page-item-respondida::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-left: 10px solid transparent;
    border-top: 10px solid green; /* Puedes cambiar el color aquí */
  }