<div class="container mt-4">
    <div class="card shadow m-2 mb-4">
        <div class="card-body">
            <h2 class="card-title">{{this.titulo}}</h2>
            <div class="card-text">
                <a *ngFor="let t of texto">
                    {{t}}
                </a>
            </div>
        </div>
    </div>
    <div *ngIf="caracteristicas && caracteristicas.length > 0" class="mb-4">
        <app-mini-info-desplegable [titulo]="'Caracteristicas'" [textos]="caracteristicas" [tipo]="'lista'"></app-mini-info-desplegable>
    </div>
    <div *ngIf="infoExtra">
        <app-mini-info-desplegable [titulo]="infoExtra.titulo" [textos]="infoExtra.texto" [tipo]="'texto'"></app-mini-info-desplegable>
    </div>
    <div *ngIf="definiciones" class="m-2">
        <div class="text-uppercase fw-bold text-xm mt-1 h6">
            Definiciones
        </div>
        <app-info-desplegable [informacion]="definiciones"></app-info-desplegable>
    </div>
    <div *ngIf="subInfo" class="m-2">
        <app-info-desplegable [informacion]="subInfo"></app-info-desplegable>
    </div>
</div>