<div class="container mt-4">
    <h3 class="text-center">{{this.titulo2}}</h3>
    <div class="row gy-3 row-cols-1 m-2">
        <div class="card shadow">
            <div class="card-body">
                <div class="row text-start no-gutters">
                    <div class="col me-2 text-dark mb-1">
                        {{this.texto}}
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="caracteristicas && caracteristicas.length > 0">
            <h3>Características:</h3>
            <ul>
                <li *ngFor="let caracteristica of caracteristicas">{{caracteristica}}</li>
            </ul>
        </div>
    </div>
    <app-carrusel-imagenes style="z-index: 0;" [imagenes]="imagenes"></app-carrusel-imagenes>
</div>