<div class="text-center">
    <div class="row gy-3 row-cols-1 m-auto">
        <ng-container *ngFor="let item of opciones">
            <div class="col">
                <div class="card shadow" routerLink={{item.link}}>
                    <div class="card-body">
                        <div class="container">
                            <div class="row row-cols-2">
                                <div class="col-9 col-md-6 text-start">
                                    <p>{{item.titulo}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>