.card-result{
    width: 150px; /* Ancho deseado */
    height: 150px; /* Alto deseado */
}

.card-result-container{
    display: flex;
    flex-direction: row;
}

.result-message-container{
    padding-top: 10%;
}

.test-container{
    margin: 10%;
}