<div class="card-container">
    <div *ngIf="dataDevBol" class="card bg-info-subtle" style="text-align: start;">
        <div class="input-group mb-2">
            <label class="input-group-text" for="inputGroupSelect01" style="width: 90px;">Puerta: </label>
            <select class="form-select" id="inputGroupSelect01" [(ngModel)]="puertaSeleccionada" (change)="crearPeticion()">
                    <option selected value=>Seleccionar...</option>
                    <option *ngFor="let puerta of puertas" [value]="puerta.id">{{ puerta.nombre }}</option>
            </select>
        </div>
        <div class="input-group mb-2">
            <label class="input-group-text" for="inputGroupSelect02" style="width: 90px;">Accion: </label>
            <select class="form-select" id="inputGroupSelect02" [(ngModel)]="accionSeleccionada" (change)="crearPeticion()">
                <option selected value="">Seleccionar...</option>
                <option value="OPEN">Abrir</option>
                <option value="CLOSE">Cerrar</option>
            </select>
        </div>
        <div class="input-group mb-2">
            <label class="input-group-text" for="inputGroupSelect03" style="width: 90px;">Topico: </label>
            <select class="form-select bg-light-subtle" id="inputGroupSelect03" disabled>
                <option selected>Door</option>
            </select>
        </div>
        <div class="input-group mb-2">
            <textarea class="form-control bg-light-subtle" rows="3" [placeholder]="textoPeticion" aria-label="Mensaje" disabled></textarea>
            <button class="btn" type="button" (click)="enviarPeticion()"
                [disabled]="textoPeticion == '' ? true : false" 
                [ngClass]="textoPeticion == '' ? 'btn-outline-secondary' : 'bg-info'">Enviar
            </button>
        </div>
    </div>
    <div *ngFor="let puerta of puertas" class="card">
        <div class="form-check form-switch form-switch-md">
            <input [id]="puerta.id" class="form-check-input" type="checkbox" [(ngModel)]="puerta.abierta"
                (change)="controlarPuerta($event, puerta)">
            <label class="form-check-label">{{ puerta.nombre }}</label>
        </div>
    </div>
</div>