<div class="login-component">
    <div class="form-box">
        <form class="form" (submit)="iniciarSesion()">
            <span class="title">Iniciar Sesión</span>
            <span class="subtitle">Introduce tus datos, por favor.</span>
            <div class="mb-1">
                <div class="form-container">
                    <input type="text" class="form-control" id="inputNombre" [(ngModel)]="usuario.nombre" name="nombre"
                        required placeholder="Nombre">
                </div>
            </div>
            <div class="mb-1">
                <input type="text" class="form-control" id="inputApellido" [(ngModel)]="usuario.apellido"
                    name="apellido" required placeholder="Apellido">
            </div>
            <div class="mb-1">
                <input type="email" class="form-control" id="inputEmail" [(ngModel)]="usuario.correo" name="correo"
                    placeholder="Correo Electrónico">
                <div class="text-muted fw-light">
                    <span>(Opcional)</span>
                </div>
            </div>
            <div class="mb-1">
                <input type="text" class="form-control" id="inputRut" [(ngModel)]="usuario.rut" required appRutValidador
                    name="rut" placeholder="Rut">
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>
        </form>

    </div>
</div>